
body{
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
}
#upper-nav{
    height: 50px;
    background-color: rgb(197, 197, 197);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#title-nav{
    padding-left: 4vw;
    cursor: pointer;
}

#right-nav{
    display: flex;
    flex-direction: row;
}
nav{
    padding-right: 4vw;
    cursor: pointer;
}

.welcome{
    height: 250px;
    background-color: rgb(199, 222, 241);
    display: flex;
    align-items: center;
    justify-content: center;
}
.section-title{
    padding: 20px;
}

h3{
    display: flex;
    align-items: center;
    justify-content: center;
}
.content-box-1{
    width: 70em;
    height: 20vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 20px;
}
.content-box-2{
    width: 70em;
    height: 20vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 20px;
}

.content-box-3{
    width: 70em;
    height: 20vh;
    display: none;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 20px;
}
.content-box-4{
    width: 70em;
    height: 20vh;
    display: none;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 20px;
}

.box{
    width: 50em;
    height: 100%;
    background-color: rgb(197, 197, 197) ;
    margin: 10px;
   
}
p{
    display: flex;
    align-items: center;
    justify-content: center;
}
.button{
    height: 30px;
    width: 100px;
    padding: 10px;
    cursor: pointer;
    background-color:rgb(199, 222, 241);
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.sidebar{
    position: fixed;
    top:0;
    right: 0;
    width: 50vh;
    height: 100%;
    background-color: #fff;
    display: none;
    flex-direction: column;
    
}
.sidenav{
    padding-left: 1em;
    margin: 2em;
    font-size: 18px;
}

.material-icons{
    margin: 1em;
    position: absolute;
    top:0px;
    right: 0px;
}



@media screen and (min-width:1200px) {
    .content-box-1{
        width: 1100px;
    }
    .content-box-2{
        width: 1100px;
    }
}

@media screen and (max-width:800px) and (min-width:500px) {
    
    .ham{
        width: 30px;
        height: 20px;
        display: flex;
        flex-direction: column;
        justify-content:space-between;
        padding: 20px;
    }
    .bar{
        background: rgb(0, 0, 0);
        width: 30px;
        height: 2.5px;
        border-radius: 3px;
    }
    #right-nav{
        display: none;
    }
    .content-box-1{
        
        display: flex;
       flex-direction: row;
       justify-content: center;
       margin-bottom: 20px;
    }
    .content-box-2{
        
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-bottom: 20px;
    }
    
}
 

@media (max-width:500px){
   
    .ham{
        width: 30px;
        height: 20px;
        display: flex;
        flex-direction: column;
        justify-content:space-between;
        padding: 20px;
    }
    .bar{
        background: rgb(0, 0, 0);
        width: 30px;
        height: 2.5px;
        border-radius: 3px;
    }
    #right-nav{
        display: none;
    }
    .nav{
        
    }
    .content-box-1{
        width: 80vw ;
        height: 70vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom:0px;
        
    }
    .content-box-2{
        width: 80vw ;
        height: 70vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }

    .content-box-3{
        width: 80vw ;
        height: 70vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .content-box-4{
        width: 80vw ;
        height: 70vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .box{
        width: 100%;
        height: 100%;
    }
}