
body {
  margin: 0;
  font-family: "Times New Roman", Times, serif;
}
#upper-nav {
  height: 50px;
  background-color: rgb(197, 197, 197);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#title-nav {
  padding-left: 4vw;
  cursor: pointer;
}

#right-nav {
  display: flex;
  flex-direction: row;
}
nav {
  padding-right: 4vw;
  cursor: pointer;
}

.welcome {
  height: 250px;
  background-color: rgb(199, 222, 241);
  display: flex;
  align-items: center;
  justify-content: center;
}
.section-title {
  padding: 20px;
}

h3 {
  display: flex;
  align-items: center;
  justify-content: center;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}

.content-box{
  width:80%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.box {
  background-color: rgb(197, 197, 197);
  width: 35%;
  height: 30vh;
  margin: 2%;
}
p {
  display: flex;
  align-items: center;
  justify-content: center;
}
.button {
  height: 30px;
  width: 100px;
  padding: 10px;
  cursor: pointer;
  background-color: rgb(199, 222, 241);
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}


.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  width: 50vh;
  height: 100%;
  background-color: #fff;
  flex-direction: column;
}
.sidenav {
  padding-left: 1em;
  margin: 2em;
  font-size: 18px;
}

.material-icons {
  margin: 1em;
  position: absolute;
  top: 0px;
  right: 0px;
}


@media screen and (max-width: 800px) and (min-width: 500px) {
  .ham {
    width: 30px;
    height: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
  }
  .bar {
    background: rgb(0, 0, 0);
    width: 30px;
    height: 2.5px;
    border-radius: 3px;
  }
  #right-nav {
    display: none;
  }
  .content-box {
    width:100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 20px;
  } 
  
}

@media (max-width: 500px) {
  .ham {
    width: 30px;
    height: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
  }
  .bar {
    background: rgb(0, 0, 0);
    width: 30px;
    height: 2.5px;
    border-radius: 3px;
  }
  #right-nav {
    display: none;
  }

  .content-box {
    width:80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
  } 
  .box {
    width: 100%;
    height: 30vh;
  }
}
